*{
    margin: 0;
    padding: 0;
}
/* nav area Start */
.nav-container{
    display: flex;
    justify-content: space-around;
    background-color: aqua;
    padding: 10px;
    align-items: center;
}
.menu ul{
    list-style: none;
    display: flex;
    gap: 15px;
    font-size: 17px;
    cursor: pointer;
}
.banner-container{
    height: 100vh;
    background-image: url(/asset/image/background.jpg),
    linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.4));
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;

}
.title{
    font-size: 55px;
    font-weight: bold;
    padding: 10px;
}
.discribtion{
    color: wheat;
    padding: 10px;
    width: 50%;
    margin: auto;
}
.btn{
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    margin-right: 20px;
}
.bg-primery{
    background-color: red;
    color: wheat;
}
.primery{
    color: brown;
}